@font-face {
  font-display: swap;
  font-family: 'Afacad';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/afacad-v1-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Afacad';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/afacad-v1-latin-italic.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Afacad';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/afacad-v1-latin-700.woff2') format('woff2');
}
.memberlist {
  background: #eee;
  border: 1px dashed #aaa;
  padding: 5px;
  margin: 5px;
}
.memberlist dd + dt {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
}
.memberlist dd {
  -webkit-padding-start: 1.5em;
          padding-inline-start: 1.5em;
}
.memberlist dl.tight dd + dt {
  -webkit-margin-before: 0;
          margin-block-start: 0;
}
.memberlist header h3 {
  font-size: 1.2em;
  letter-spacing: 2px;
  text-align: center;
  background: #ddd;
  color: #000;
  padding: 2px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}
.memberlist h4 {
  font-size: 1.1em;
  color: #666;
  -webkit-margin-after: 3px;
          margin-block-end: 3px;
  -webkit-padding-after: 0;
          padding-block-end: 0;
}
body {
  font-family: -apple-system-body, system-ui, Helvetica, Arial, sans-serif;
  color: #000;
  background: #fff;
  margin: 20px;
}
body main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(50ch, 100%), 1fr));
  gap: 2ch;
}
h1,
h2 {
  font-weight: bold;
}
h1 {
  font-size: 1.4em;
}
h2 {
  font-size: 1.3em;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #00a;
}
a:hover {
  text-decoration: underline;
  background: #eee;
}
code,
.property,
.method {
  font-family: "Lucida Console", Insonsolata, Monaco, monospace;
}
code.property,
code.method {
  font-weight: bold;
}
.property {
  color: #a00;
}
.method {
  color: #00a;
}
.constant {
  font-family: "Lucida Console", Insonsolata, Monaco, monospace;
  color: #000;
  font-style: normal;
  font-weight: bold;
}
.unfinished {
  text-decoration: line-through;
  font-size: 0.8em;
}
.parameter {
  color: #070;
  font-style: italic;
  font-weight: normal;
}
.constvalue {
  font-weight: normal;
  color: #00f;
}
.literal {
  font-family: "Lucida Console", Insonsolata, Monaco, monospace;
  color: #000;
  font-style: normal;
  font-weight: bold;
}
.string {
  color: #399;
}
.keyword {
  color: #69c;
  font-weight: bold;
}
.term {
  border-bottom: 1px dotted #36f;
  cursor: help;
  font-weight: bold;
}
.version {
  color: #f30;
  text-align: right;
}
hr {
  clear: left;
  height: 2px;
  margin: 5px 0px;
  color: #000;
}
.note {
  font-size: 0.9em;
  font-style: italic;
}
.hilite,
:target {
  background: #ff6;
}
:target {
  scroll-margin-block-start: 2em;
}
