// Misc. variables
@color: {
	pi: #314159;
	black: #211;
	white: #fff;

	light_grey: #eee;
	mid_grey: #aaa;

	teal: #399;
	light_teal: #6cc;

	accent: #f60;
	lightup: #6f3;

	link: #03a;
	highlight: #fc0;

	property: #a00;
	method: #00a;
	constant: #000;
}

@color_primary: @color[pi];
@black: @color[black];
@white: @color[white];

@measure: 75ch;
