// Setup fonts

@monoStack: "Lucida Console", Verdana, monospace;
@sansStack: Helvetica, sans-serif;
@serifStack: Georgia, Times, serif;

.bodyFont() {
	font-family: @monoStack;
}

.headerFont() {
	font-family: @monoStack;
}
