// Setup fonts
@import "webfont-afacad";

@monoStack: "Lucida Console", Insonsolata, Monaco, monospace;
@sansStack: Helvetica, Arial, sans-serif;
@serifStack: Georgia, Times, serif;


.bodyFont() {
	font-family: -apple-system-body, system-ui, @sansStack;
}

.headerFont() {
	font-family: 'Afacad', -system-ui, @sansStack;
}

.monoFont() {
	font-family: @monoStack;
}
